<div class="beer-wrapper">
  <div class="beer">
    <% if current_user_checks_beer(beer) -%>
      <div class="check"></div>
    <% end -%>
    
    <div class="beer-hover">
      <div class="button-wrapper">
        <% if current_user_checks_beer(beer) %>
          <div class="button primary"><%= t'common.checked' %></div>
          <%= link_to t('common.uncheck'), {:controller => "beers", :action => "uncheck", :id => beer.id}, :class => 'button red' %>
        <% else %>
          <%= link_to t('common.check'), {:controller => "beers", :action => "check", :id => beer.id}, :class => 'button primary' %>
        <% end %>
      </div> <!-- button_wrapper -->
      
      
      <div class="button-wrapper">
        <%= link_to t('common.view'), beer, :class => 'button secondary' %>
      </div> <!-- button_wrapper -->
      
    </div> <!-- .beer-hover -->
    
    <div class="name">
      <% if beer_country(beer) %>
        <div class="flag flag-<%= beer_country(beer).downcase %>"></div>
      <% end %>
      <%= beer.name %>
    </div>
    <div class="brewery"><%= beer.brewery.name unless beer.brewery.blank? %></div>
    <%= image_tag beer.photo.url(:small) %>
    
    <div>Le gusta a <%= beer.total_likes %></div>
    <div>La han probado <%= beer.total_checks %></div>
  </div> <!-- beer -->
</div> <!-- beer_wrapper -->