<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      <div class="pull-right">
        <% if user_signed_in? %>
          <%= t 'common.hello' %> <%= current_user.username %> |
          <%= link_to t ('common.profile'), :controller => "profile", :action => "show" %> | 
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> 
        <% else %>
          <%= link_to 'Login', new_user_session_path %> 
        <% end %>
      </div>
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'Beersquare', root_path, :class => 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'Beers', beers_path %></li>
          <li><%= link_to 'Breweries', breweries_path %></li>
          <li><%= link_to 'Profile', '#' %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div> <!-- .container -->
  </div> <!-- .navbar-inner -->
</div> <!-- .navbar -->
