<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      
      <div class="user_menu pull-right">
        <% if user_signed_in? %>
          <span><%= t 'common.hello' %> <%= current_user.username %></span> |
          <%= link_to t('common.profile'), profile_path %> |
          <%= link_to t('common.logout'), destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to t('common.login'), new_user_session_path %>
        <% end %>
      </div>
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <%= link_to 'Beersquare', root_path, :class => 'brand', :title => 'Home' %>
        <ul class="nav">
          <li class="<%= 'active' if params[:controller] == 'beers' %>"><%= link_to t('common.beers'), beers_path %></li>
          <li class="<%= 'active' if params[:controller] == 'breweries' %>"><%= link_to t('common.breweries'), breweries_path %></li>
          <li class="<%= 'active' if params[:controller] == 'profile' && params[:action] == 'checklist' %>"><%= link_to t('common.checklist'), :controller => "/profile", :action => "checklist" %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div> <!-- .container -->
  </div> <!-- .navbar-inner -->
</div> <!-- .navbar -->


