<%= form_for(@brewery) do |f| %>
  <fieldset>
    <% if @brewery.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>
      <ul>
        <% @brewery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :photo %>
    <%= f.file_field :photo %>

    <%= f.label :country %>
    <%= select("brewery", "country", Country.all {|c| [ c[0], c[1] ] }, {:include_blank => 'Select'}) %>
    

    <%= f.label :title %>
    <%= f.text_field :title %>

    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
