<div class="row-fluid">
  <p id="notice"><%= notice %></p>
  
  <%= link_to 'Edit', edit_brewery_path(@brewery), :class => 'btn pull-right' %>
  <h1><%= @brewery.name %> <span class="country">(<%= @brewery.country %>)</span></h1>
  <div class="subtitle"><%= @brewery.title %></div>


  <div class="hide" id="brew_map" style="width:100%; height:300px;"></div>
  <input type="hidden" value="<%= @brewery.latitude %>" id="brew_lat"/>
  <input type="hidden" value="<%= @brewery.longitude %>" id="brew_lgt"/>

  <h2>Cervezas de esta marca:</h2>



  <div class="beer_list">
    <%= render :partial => 'shared/beer', :collection => @beers %>
  </div>
  

</div>