<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= select("beer", "country", Country.all {|c| [ c[0], c[1] ] }, {:include_blank => 'Select'}) %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <label> <%= t('common.brewery')  %></label>
    <input data-provide="typeahead" data-items="8" data-source='<%=@brewery_items.to_json %>'>
    <%#= select("beer", "brewery_id", Brewery.all.collect {|b| [ b.name, b.id ] }, {:include_blank => 'Select'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
