<%= link_to t('.add_beer'), new_beer_path, :class => 'btn btn-primary pull-right' %>
<h1><%= t '.title' %></h1>

<ul>
<% @beers.each do |beer| %>

<li>
  <%= link_to beer.name, beer %></br>
  <%= link_to beer.brewery.name, beer.brewery %>

</li>

  <!-- <tr>
      <td><%= beer.name %></td>
      <td><%= beer.title %></td>
      <td><%= beer.description %></td>
      <td><%= beer.country %></td>
      <td><%= beer.brewery.name %></td>
      <td><%= link_to 'Show', beer %></td>
      <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
      <td><%= link_to 'Destroy', beer, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr> -->
<% end %>
</ul>


