<p id="notice"><%= notice %></p>

<p>
  <% if @beer.total_likes>0 %>
    Le gusta a <%= @beer.total_likes %> personas
  <% else %>
    Todavía no le gusta a nadie
  <% end %>
</p>

<% if @user_likes %>
  Te gusta!
<% else %>
  <%= link_to 'like', :controller => "beers", :action => "like", :id => @beer.id %>
<% end %>


<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<%= image_tag @beer.photo.url(:small) %>

<p>
  <b>Title:</b>
  <%= @beer.title %>
</p>

<p>
  <b>Description:</b>
  <%= @beer.description %>
</p>

<p>
  <b>Country:</b>
  <%= @beer.brewery.country %>
</p>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
