
<div class="beer beer_<%= @beer.id %> row-fluid">
  
  <div class="span8">
    <h1>
      <% if beer_country(@beer) %>
        <div class="flag flag-<%= beer_country(@beer).downcase %>"></div>
      <% end %>
      <%= @beer.name %>
    </h1>
    
    <% unless @beer.brewery.blank? -%>
      <div class="brewery"><%= link_to @beer.brewery.name, @beer.brewery %></div>
    <% end -%>
    
    <div class="button-wrapper">
      
      <div class="checked-buttons <%= 'hidden' unless current_user_checks_beer(@beer) %>">
        <div class="button primary"><%= t'common.checked' %></div>
        <%= link_to t('common.uncheck'), {:controller => "beers", :action => "uncheck", :id => @beer.id}, :data => {:remote => 'true'}, :class => 'button red' %>
      </div> <!-- user_checks_beer -->
      <div class="unchecked-buttons <%= 'hidden' if current_user_checks_beer(@beer) %>">
        <%= link_to t('common.check'), {:controller => "beers", :action => "check", :id => @beer.id}, :data => {:remote => 'true'}, :class => 'button primary' %>
      </div>
      
    </div> <!-- button_wrapper -->
     
    <div class="button-wrapper">
      <div class="liked-buttons <%= 'hidden' unless current_user_likes_beer(@beer) %>">
        <div class="button secondary"><%= t'common.liked' %></div>
        <%= link_to t('common.unlike'), {:controller => "beers", :action => "unlike", :id => @beer.id}, :data => {:remote => 'true'}, :class => 'button red' %>
      </div> <!-- user_checks_beer -->
      <div class="unliked-buttons <%= 'hidden' if current_user_likes_beer(@beer) %>">
        <%= link_to t('common.like'), {:controller => "beers", :action => "like", :id => @beer.id}, :data => {:remote => 'true'}, :class => 'button secondary' %>
      </div>

    </div> <!-- button_wrapper -->
    
    <div class="row-fluid beer-info">
      <div class="span6 ">
        <div class="form-inline">
          <div class="row-fluid">
            <div class="span6"><span class="label-right"><%= t('.country') %></span></div>
            <div class="span6"><span><%= @beer.country %></span></div>
          </div>
          <div class="row-fluid">
            <div class="span6"><span class="label-right"><%= t('.description') %></span></div>
            <div class="span6"><span><%= @beer.description %></span></div>
          </div>
        </div>
      </div>
    </div> <!-- beer-info -->
    
    
  </div> <!-- span8 -->
  
  <div class="span4">
    <div class="images-wrapper">
    <% if current_user_checks_beer(@beer) -%>
      <div class="check"></div>
    <% end -%>
    
    <%= image_tag @beer.photo.url(:medium) %>
    </div><!-- images-wrapper -->
  </div> <!-- span4 -->
  
</div><!-- row -->




<%= link_to 'Edit', edit_beer_path(@beer) %>
