<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<%= image_tag @beer.photo.url(:small) %>

<p>
  <b>Title:</b>
  <%= @beer.title %>
</p>

<p>
  <b>Description:</b>
  <%= @beer.description %>
</p>

<p>
  <b>Country:</b>
  <%= @beer.country %>
</p>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
