

<p>You have checked <%= @beers_check.count %> beers out of <%= total_beers %> (<%= (@beers_check.count*100/total_beers) %>%).</p>

<p>You have checked <%= current_user_total_countries %> countries</p>


<h2>Beers you have check</h2>
<div class="beer-list">
  <% unless @beers_check.blank? %>
    <%= render :partial => 'shared/beer', :collection => @beers_check %>
  <% else %>
    <div class="blank">
      <div class="title">
        <%= t'.no_beers' %>
      </div>
      <p>
        <%= t'.blank_text'%> <%= link_to t('.all_beer'), beers_path %>
      </p>
    </div> <!-- .blank -->
  <% end %>
</div> <!-- .beer_list -->
