<!DOCTYPE html>
<html>
<head>
  <title>Beersquare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>

<div id="wrap">
<div class="container">
  <%= yield %>
  <div id="push"></div> <!-- for sticky footer -->
</div> <!-- /container -->
</div> <!-- #wrap -->

<%= render 'shared/footer' %>

<%= javascript_include_tag "application" %>
</body>
</html>
